html, body {
    font-family: Lato, 'Helvetica Neue', Arial, Helvetica, sans-serif;
    background-color: #fafafa;
    margin: 0;
    padding: 0;
    outline: none;
    border: none;
}


h1, h2, h3, h4, h5, h6 {
    margin: 0.5em 0;
}

body {
    margin: 0;
}


h1 {
    font-family: 'cover by your grave', sans-serif;
    font-size: 58px !important;
}

h2 {
    font-family: 'cover by your grave', sans-serif;
    font-size: 48px;
}

/* Sections & Container */
.section {
	width: 100%;
	height: 600px;
	margin: 0;
    padding: 50px 0;
}

.container {
    height: 500px;
    width: 90;
    padding: 50px 15px;
    margin-right: auto;
    margin-left: auto;
    display: flex;
    flex-direction: row;
    background-color: #333;

}


.left {
    display: inline-block;
    width: 50%;
    background-color: #fff;   
}
.right {
    display: inline-block;
    width: 50%;
    background-color: #ff1;
}
.full {
    display: block;
    width: 100%;
    background-color: aqua;
}

.about {
	background-color: #d1d1d1;
}
.spots {
	background-color: #fff;
}
.events {
	background-color: #d1d1d1;
}
.blog {
	background-color: #fff;
}
.newsletter {
	background-color: #d1d1d1;
}
.banner {
    height: 800px;
    min-height: 400px;
    background-color: #06d500;
}


/* START Navigation */

nav {
    /*display: flex !important;*/
    flex-direction: row;
    justify-content: space-between;
    background-color: black;
    padding: 0px 20px;
    box-shadow: 0 3px 5px 0 rgba(0,0,0,0.2), 0 1px 10px 0 rgba(0,0,0,0.15);
    font-size: 0;
	position: fixed;
	z-index: 1000;
	width: 100%;
	top: 0;
	left: 0;
}

.logo {
        align-self: flex-start;
		font-family: 'Covered By Your Grace', cursive;
		color: white;
        font-size: 42px;
        padding: 0px;
        margin: 0px;
}


nav ul {
    align-self: flex-end;
    padding: 0;
    margin: 0;
    list-style: none;
	
}

nav ul li {
    padding: 0;
    display: inline-block;
}
nav a {
    font-size: 22px;
    padding: 20px;
    display: inline-block;
    color: white;
    text-decoration: none;
}

nav a:active, nav a:hover {
    background: rgba(255,255,255, 0.2);
    color: #06d500;
	text-decoration: none;
}

#icon {
    display: none;
}


.nav-right {
		float: right;
}

/* END Navigation */

/* About us */



/* START Table */
/* Banner */

.hero-image {
    width: 700px;
    height: auto;
    position: absolute;
    top: 50%;
    left: 45%;
    transform: translate(-50%, -50%);
}

.hero-text {
    font-family: 'Covered By Your Grace', cursive;
    text-align: right;
    position: absolute;
    top: 50%;
    left: 75%;
    transform: translate(-50%, -50%);
    color: white;
}
/* About us */



/* Spots */



/* -----START Responsive----- */

/* Desktop Responsive*/
@media only screen and (min-width: 992px) {
    
    
}




/* Tablet Responsive */
@media only screen and (max-width: 992px) {
    
    .hero-image {
        width: 500px;
    
}
}
/* Mobile Responsive */

@media only screen and (max-width: 768px) {
    
    .section {
        height: 500px;
    }
    .container {
        flex-direction: column;
        height: 400px;
    }
    .full {
        height: 100%;
    } 
    
    .left, .right {
        width: 100%;
        height: 50%;
    }
    
    .hero-image {
        width: 300px;
        top: 35%;
        left: 50%;
    }
    
    .hero-text {
    top: 35%;
    left: 75%;
    }
    
    h1 {
        font-size: 32px !important;
    }
    
    h2 {
        font-size: 38px;
    }
    
    img {
        width: 40%;
    }
    
     
    /* Resposive Nav mobile*/
    
    #menuBtn {
        display: block;
        width: 100%;
        margin: 0;
        background-color: black;
        box-shadow: 0 3px 5px 0 rgba(0,0,0,0.2), 0 1px 10px 0 rgba(0,0,0,0.15);
		position: fixed;
		z-index: 1000;
		width: 100%;
		top: 0;
		left: 0; 
    } 
   
    #icon {
        display: block;
        width: 49px;
        height: auto;
        padding-left: 5px;
    }
    
	#logo {
			display: block;
			width: 49px;
			height: auto;
			padding-left: 5px;
			
	}
    
    
    #menu {
        display: none;
    }
    
    
    /**---ausgeklapptes Menü---*/
	body {
		padding-top: 0px;
	}
    nav {
        padding: 0px;
        text-align: center;
    }
    nav ul {
        display: flex;
        flex-direction: column;
		text-align: center;
    }
	
	nav ul li {
		 display: hidden;
		
	}
    
    nav a {
        margin: 5px 0 0 -20px;
        width: 100%;
    }
    
}

/* Start Footer */
.footer { 
    width: 100%;
    background-color: #fff;
    color: #000;
    text-align: center;
	height: 400px;
	margin: 0;
    padding: 50px 0;
}



.footer-row {
    display: inline-block;
    margin: 10px 50px;
    text-align: center;
}

.footer-row ul li {
    list-style: none;
    padding: 10px;
}

footer-row a {
    color: #000;
}