html, body {
    font-family: Lato, 'Helvetica Neue', Arial, Helvetica, sans-serif;
    background-color: #fafafa;
    margin: 0;
    padding: 0;
    outline: none;
    border: none;
}


h1, h2, h3, h4, h5, h6 {
    margin: 0.5em 0;
}

body {
    margin: 0;
}


h1 {
    font-family: 'cover by your grave', sans-serif;
    font-size: 58px !important;
}

h2 {
    font-family: 'cover by your grave', sans-serif;
    font-size: 48px;
}

.button {
    display: block;
    border: none;
    border-radius: 5px;
    padding: 12px 24px;
    margin: 10px;
    background-color: #06d500;
    color: #fff;
    font-family: 'cover by your grave', sans-serif;
    text-align: center;
    font-size: 16px;
    line-height: 16px;
}



/* Sections & Container */
.section {
	width: 100%;
	height: 700px;
	margin: 0;
    padding: 50px 0;
}

.container {
    height: 500px;
    width: 90;
    padding: 50px 15px;
    margin-right: auto;
    margin-left: auto;
	margin-top: 50px;
	margin-bottom: 50 px;
    display: flex;
    flex-direction: row;
    background-color: #333;

}


.left {
    display: inline-block;
    width: 50%;
    background-color: #fff;   
}
.right {
    display: inline-block;
    width: 50%;
    background-color: #ff1;
}
.full {
    display: block;
    width: 100%;
    background-color: aqua;
}

.about {
	background-color: #f8f8f8;
}
.spots {
	background-color: #fff;
}
.events {
	background-color: #f8f8f8;
}
.blog {
	background-color: #fff;
}
.newsletter {
	background-color: #f8f8f8;
}
.banner {
    height: 800px;
    min-height: 400px;
    background-color: #d1d1d1;
}


/* START Navigation */

nav {
   /* display: flex !important;*/
    flex-direction: row;
    justify-content: space-between;
    background-color: black;
    padding: 0px 20px;
    box-shadow: 0 3px 5px 0 rgba(0,0,0,0.2), 0 1px 10px 0 rgba(0,0,0,0.15);
    font-size: 0;
	position: fixed;
	z-index: 1000;
	width: 100%;
	top: 0;
	left: 0;
}

.logo {
        align-self: flex-start;
		font-family: 'Covered By Your Grace', cursive;
		color: white;
        font-size: 42px;
        padding: 0px;
        margin: 0px;

}


/*nav ul {
    align-self: flex-end;
    padding: 0;
    margin: 0;
    list-style: none;
	
}

nav ul li {
    padding: 0;
    display: inline-block;
}*/
nav a {
    font-size: 22px;
    padding: 20px;
    display: inline-block;
    color: white;
    text-decoration: none;
}

nav a:active, nav a:hover, a.active {
    background: rgba(255,255,255, 0.2);
    color: #06d500;
	text-decoration: none;
}

#icon {
    display: none;
}


.nav-right {
		float: right;
}


/* END Navigation */

/* About us */



/* START Table */
/* Banner */

.hero-image {
    width: 700px;
    height: auto;
    position: absolute;
    top: 50%;
    left: 45%;
    transform: translate(-50%, -50%);
}

.hero-text {
    font-family: 'Covered By Your Grace', cursive;
    text-align: right;
    position: absolute;
    top: 50%;
    left: 75%;
    transform: translate(-50%, -50%);
    color: white;
}
/* About us */



/* Spots (Slidegalerie)*/

.slides {
		display:none;
		width: 100%;
}



.Eventkalender {
    display: block;
    border: 1px solid #000;
    padding: 5px 20px;
    margin-top: 5px;
    color: #777;
} 

.Event {
    display: flex;
    flex-direction: column;
    height: auto;
    margin: 10px 0;
    border: 1px solid #d1d1d1;
    padding-left: 5px;
    transition: all 0.3s ease 0s;
}

.Event h5 {
    color: #000;
}

.Event:hover {
    transform: translateY(-7px);
    background-color: #d1d1d1;
    box-shadow: 1px 2px 18px #888888;
}

.Event-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    padding: 50px;
}
.Event-text p {
    text-align: left;
}
.Event-text h4 {
    margin-bottom: 20px;
}


/* Newsletter*/

.newsletter {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
}
.newsletter h6 {
    margin-bottom: 50px;
}

.input {
    padding: 0px 50px;
    color: #d1d1d1;
}
/* -----START Responsive---------------------------------------------------------------------------------------------------------------- */

/* Desktop Responsive*/
@media only screen and (min-width: 992px) {
    
    
}




/* Tablet Responsive */
@media only screen and (max-width: 992px) {
    
    .hero-image {
        width: 500px;
    
    }
    .hero-image {
        width: 300px;
        top: 35%;
        left: 50%;
    }
}
/* Mobile Responsive */

@media only screen and (max-width: 768px) {
    
    .section {
        height: 500px;
    }
    .container {
        flex-direction: column;
        height: 400px;
    }
    .full {
        height: 100%;
    } 
    
    .left, .right {
        width: 100%;
        height: 50%;
    }
    
    h1 {
        font-size: 32px !important;
    }
    
    h2 {
        font-size: 38px;
    }
    
    img {
        width: 40%;
    }
    
    
    .hero-image {
        width: 300px;
        top: 35%;
        left: 50%;
		z-index: 0;
    }
    
    .hero-text {
        top: 35%;
        left: 75%;
    }
    
    .footer {
        display: block;
        height: 400px !important;
    }
    
    .footer-row {
        display: block;
        margin: 10px 0px !important;
    }
     
    /* Resposive Nav mobile*/
    #menuBtn {
        display: block;
        width: 100%;
        margin: 0;
        background-color: black;
        box-shadow: 0 3px 5px 0 rgba(0,0,0,0.2), 0 1px 10px 0 rgba(0,0,0,0.15);
		position: fixed;
		z-index: 1000;
		width: 100%;
		top: 0;
		left: 0; 
		height: 73px;
    }
	#menuBtn a{
		display: none;
	}
	#menuBtn a.active {
		display: inline;
		color:white;
		margin: 0;
		background: none;
	}
	
   
    #icon {
        display: inline-block;
        width: auto;
        height: 70px;
        padding-left: 5px;
    }
    
	.logo {
			display: block;
			width: 49px;
			height: auto;
			padding-left: 5px;  			
	}
    
    
    #menu {
        display: none;
		z-index: 900;
    }
    
    
    /**---ausgeklapptes Menü---*/
	body {
		padding-top: 0px;
	}
    nav {
        padding: 0px;
        text-align: center;
		position: fixed;
		margin-top:73px;
		
		display: flex;
		flex-direction: column;
		text-align: center;
    }
    /*nav ul {
        display: flex;
        flex-direction: column;
		text-align: center;
    }
	
	nav ul li {
		 display: hidden;
		
	}
    */
    nav a {
        margin: 5px 0 0 -20px;
        width: 100%;
    }
    
}










/*----------- Start Footer--------- */
.footer { 
    width: 100%;
    background-color: #fff;
    color: #777;
    text-align: center;
	height: 250px;
	margin: 0;
    padding: 30px 0 0 0;
}



.footer-row {
    display: inline-block;
    margin: 10px 50px;
    text-align: left;
}
.footer-row h5{
    color: #000;
    font-size: 22px;
    font-weight: 700;
    margin-left: 45px;
    padding-bottom: 10px;
}

.footer-row ul li {
    list-style: none;
    padding: 5px;
    font-size: 12px;
}

footer-row a {
    color: #000;
    text-decoration-color: #777;
}